{% extends "baseConnect.html.twig" %}

{% block title %}Modification{% endblock %}


{% block body %}


    <!--<form action="" method="post"> -->
    <div class="container "><h1 class="test-align center">Modifier les champs erronés</h1></div>
    <div class="container">
        <div class="col s3 row">
        </div>
    </div>




    {{ form_start(form, { 'attr': {'class': 'container'}}) }}



    {{ form_widget(form)}}


    {{ form_end(form) }}


{% endblock %}