{% extends '../../../../../../../../../Downloads/base.html.twig' %}

{% block body %}

<h1 class="header center blue-text text-lighten-1">MarinAccess</h1>
	<h5 class="header col s12 light">Vous vous êtes enregistré avec succés</h5>
	<div class="container">
	<div class="row">
	<div class="input-field col s6 ">
		<a class='btn waves-effect waves-light blue lighten-1' href='{{ path('home') }}'>Accueil <i class="material-icons">thumb_down</i></a>
	</div>

	{% endblock %}