{% extends 'base.html.twig' %}
{% block body %}

	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<br>
			<h1 class="header center white-text text-lighten-2 ">MarinAccess</h1>


			<div class="row center">
				<div class="row">
					<form action="{{ path('app.login') }}" method="post" class="form-horizontal">
						{% if error %}
							<div><h4 class="header center red-text text-lighten-2">{{ error.messageKey|trans(error.messageData, 'security') }}</h4></div>
						{% endif %}
						<div class="container">
							<div class="row">
								<div class="col s12 offset-s2">
									<div class="input-field col s8" >
										<input id="mail" type="text" class="validate" name="_username" value="{{ last_username }}" />
										<label for="mail" style="color: #ffffff; border-bottom-color: #ffffff">Mail </label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s12 offset-s2">
									<div class="input-field col s8">
										<input name="_password" id="password" class="validate" type="password" />
										<label for="password" style="color: #ffffff; border-bottom-color: #ffffff">Password</label>
									</div>
								</div>
							</div>

							<button class="btn waves-effect waves-light blue lighten-1" type="submit"
									name="action">
								LOGIN <i class="material-icons right">send</i>
							</button>
						</div>

					</form>


				</div>

			</div>
		</div>
		<div class="parallax">
			<img src="http://www.beachwallpaperhd.com/wp-content/uploads/Summer%20Beach/Resort%20and%20Yacht%20Harbor%20Wallpapers.jpg" alt="Unsplashed background img 1" style="display: block;transform: translate3d(-50%, 50px,">
		</div>
	</div>


	<div class="container">
		<div class="section">

			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center black-text">
							<i class="medium material-icons">view_week</i>
						</h2>
						<h5 class="center">Ne restez plus au Mouillage</h5>

						<p class="light">Nous vous proposons un large choix de places dans de nombreux Ports de France
							pour votre embarcation. En vous inscrivant vous pourrez reserver une amarre à l'avance et dire adieu au mouillage.
							Abusez de MarinAccess et allez jusqu'à planifier un voyage autour de la France, et vous ne serez pas deçu.
						</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center black-text">
							<i class="medium material-icons">import_export</i>
						</h2>
						<h5 class="center">Economisez de l'argent !</h5>

						<p class="light">Titulaire d'une amarre ? Signalez vos départs et louez votre place pour beneficier de compensations
							financieres sur vos frais de locations. En cas d'absence de votre embarcation dans des horaires non spécifiés, un
							de vos proche est prevenu pour assurer aussi votre sécurité en mer.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center black-text">
							<i class="medium material-icons">vpn_key</i>
						</h2>
						<h5 class="center">Des Ports plus sécurisés</h5>

						<p class="light">MarinAccess est directement connecté aux capitaineries de France pour assurer une gestion précise et efficace
							de votre embarcation amarée. Les bateaux clandestins sur votre place sont immédiatement détectées et expulsés si vous ne
							souhaitez pas louer votre place. Enregistrez-vous et garantissez-vous le meilleur des suivi pour votre bateau !</p>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="row center">
			</div>
		</div>
		<div class="parallax">
			<img  src="https://naturehdwallpapers.files.wordpress.com/2013/11/monaco-port-wallpaper.jpg" alt="Unsplashed background img 3" style="display: flex; transform: translate3d(-50%, 50px, 0px);">
		</div>
	</div>

	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 center">
					<h3>
						<i class="mdi-content-send brown-text"></i>
					</h3>
					<h4>Contact</h4>
					<p class="left-align light">Etudiants en école d'ingénieurs basée dans la ville de Toulon, vous pouvez nous retrouver à l'ISEN,
						Maison du Numérique et de l'Innovation, Place Georges Pompidou, 83000 Toulon</p>
				</div>
			</div>

		</div>
	</div>


	<div class="parallax-container valign-wrapper">
		<div class="container col s6 offset-s6">
			<div class="col s6 offset-s6">
			</div>
		</div>
		<div class="parallax">
			<img  src="http://www.beachwallpaperhd.com/wp-content/uploads/Summer%20Beach/Summer%20clear%20waters%20of%20the%20harbor%20Wallpapers.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 100px, 0px);">
		</div>
	</div>


{% endblock %}